@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


@layer base, bento;

.bento-wrap
{
  padding-bottom: 1rem;
}

@layer bento {
	.grid {
		display: grid;

		grid-template-columns: repeat(12, 2fr);
		grid-template-areas:
			"feat-1 feat-1 feat-1 feat-2 feat-2 feat-2 feat-2 feat-2 feat-2 feat-3 feat-3 feat-3"
			"feat-1 feat-1 feat-1 feat-2 feat-2 feat-2 feat-2 feat-2 feat-2 feat-5 feat-5 feat-5"
			"feat-1 feat-1 feat-1 main-1 main-1 main-1 main-1 main-1 main-1 feat-5 feat-5 feat-5"
			"feat-4 feat-4 feat-4 main-1 main-1 main-1 main-1 main-1 main-1 feat-5 feat-5 feat-5"
			"feat-6 feat-6 feat-6 main-1 main-1 main-1 main-1 main-1 main-1 feat-5 feat-5 feat-5"
			"feat-6 feat-6 feat-6 main-1 main-1 main-1 main-1 main-1 main-1 feat-9 feat-9 feat-9"
			"feat-6 feat-6 feat-6 feat-7 feat-7 feat-7 feat-8 feat-8 feat-8 feat-9 feat-9 feat-9"
			"feat-6 feat-6 feat-6 feat-7 feat-7 feat-7 feat-8 feat-8 feat-8 feat-9 feat-9 feat-9";
		gap: 1em;
		
    height: 100dvh;
		
	}

	.grid__item {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #5d5d58;
		background-color: #e9f3f5;
		min-height: 6em;
		padding: 1.5em;
		border-radius: .5em;
	}

	.grid__item--main {
		grid-area: main-1;
	}
	.grid__item--feat-1 {
		grid-area: feat-1;
	}
	.grid__item--feat-2 {
		grid-area: feat-2;
	}
	.grid__item--feat-3 {
		grid-area: feat-3;
	}
	.grid__item--feat-4 {
		grid-area: feat-4;
	}
	.grid__item--feat-5 {
		grid-area: feat-5;
	}
	.grid__item--feat-6 {
		grid-area: feat-6;
	}
	.grid__item--feat-7 {
		grid-area: feat-7;
	}
	.grid__item--feat-8 {
		grid-area: feat-8;
	}
	.grid__item--feat-9 {
		grid-area: feat-9;
	}


	.grid__content {
		inline-size: 100%;
		display: flex;
		flex-direction: row;
		gap: .75em;
		text-align: center;
		container-type: inline-size;
	}
	.grid__content--vertical {
		flex-direction: column;
	}

	.grid__txt--big {
		font-size: clamp(1.75rem, 0.646rem + 12.987cqi, 3rem);
		
		font-weight: 800;
		background-image: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
		-webkit-text-fill-color: transparent;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
	}

	.grid-gradient-01 {
		background: linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%);
	}
	.grid-image-01 {
		background-image: url(https://images.unsplash.com/photo-1646938691456-a03d01a8276a?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
	}
	
  .grid-image-02 {
		background-image: url(https://images.pexels.com/photos/28210177/pexels-photo-28210177/free-photo-of-a-mountain-goat-standing-on-a-grassy-hill.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load);
		background-size: cover;
    background-position: center;
	}

  .grid-image-03 {
		background-image: url(https://images.pexels.com/photos/1603650/pexels-photo-1603650.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
		background-size: cover;
    background-position: center;
	}

  .grid-image-04 {
		background-image: url(https://images.pexels.com/photos/8409076/pexels-photo-8409076.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load);
		background-size: cover;
    background-position: center;
	}

  
  /** image crime */
  .grid-image-05 {
		background-image: url(https://images.pexels.com/photos/923681/pexels-photo-923681.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
		background-size: cover;
    background-position: center;
	}


  
	
	.grid__item--logo img {
		max-width: 65%;
	}
	
}


.blog-slider 
{
	padding-top: 1rem;
	color: white;
	background: linear-gradient(to right, black 30%, transparent 100%);
	height: 50dvh;
}

.blog-slider-page
{
	height: 80dvh;
	border: 0.5px solid red;
}



.slider-slide 
{
	background: #3E64FF;
	color: white;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
	height: 85dvh;
}

.blog-slider-page
{

	display: flex;
	overflow: hidden;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.overlay
{
		background-image: linear-gradient(to left, rgba(0,0,0,0.8), rgba(0,0,0,0));
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;

	
}
.slider-text-content
{
	position: absolute;
	right: 30%;
	top: 50%;
	transform: translate(50%, -50%);
	z-index: 2;
	font-size: 2rem;
	font-weight: 500;
}

.blog-card-title
{
	font-size: 2rem;
}






.feature-wrapper
{
background: #7485f2;
background: linear-gradient(0deg, rgba(116, 133, 242, 1) 0%, rgba(86, 121, 199, 0) 100%);
padding: 5% 0px;
}

.features-section {
  padding-top: 5%;
  width: 100%;

}

.features-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 20px;
}

.features-header h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

.features-header p {
  max-width: 450px;
  line-height: 1.6;
  color: #555;
}

.features-header .get-started {
  color: #5a3fff;
  text-decoration: none;
  font-weight: 500;
}

.feature-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}

.feature-card {
  background: #f9f9f9;
  border-radius: 10px;
  padding: 25px 20px;
  text-align: left;
  transition: 0.3s ease;
}

.feature-card.active {
  background: #5a3fff;
  color: #fff;
}

.feature-card .icon {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.feature-card h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 0.9rem;
  line-height: 1.5;
  color: inherit;
}

.feature-card:hover {
  transform: translateY(-5px);
}



/** FAQ **/



.work-section {
  display: flex;
  justify-content: center;
	padding: 5% 0px;
}

.work-container {
  display: flex;
  align-items: center;
  /* background: #fff;
  border-radius: 16px; */
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05); */

  overflow: hidden;
}

.work-image {
  position: relative;
  flex: 1;
   
}

.work-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
   background: #fff;
  border-radius: 16px; 
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.consultation-badge {
  position: absolute;
  top: 30px;
  left: 30px;
  background: #4c74f5;
  color: #fff;
  font-size: 14px;
  padding: 10px 16px;
  border-radius: 50px;
  font-weight: 500;
}

.work-content {
  flex: 1.2;
  padding: 50px;
}

.work-content h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.work-content .subtitle {
  color: #777;
  font-size: 15px;
  margin-bottom: 40px;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.step {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.step-number {
  background: #4c74f5;
  color: #fff;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 600;
  flex-shrink: 0;
}

.step-info h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.step-info p {
  color: #666;
  font-size: 14px;
  line-height: 1.5;
}

/* Responsive */
@media (max-width: 900px) {
  .work-container {
    flex-direction: column;
  }

  .work-content {
    padding: 40px 30px;
  }

  .work-image img {
    height: 250px;
  }
}


<<<<<<< HEAD

.hero-image-mobile
{
	display: none;
}
.hero-image
{
	display: none;
}

/* @media (min-width: 425px) {

	.hero-image-mobile
	{
		display: none;
	}

}
@media (min-width: 426px) {

	.hero-image
	{
		display: block;
	}

} */
=======
/** CTA BTN**/
/* From Uiverse.io by kamehame-ha */ 
.cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #007ACC;
  outline: 3px #007ACC solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.cta-btn .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.cta-btn svg path {
  transition: 400ms;
}

.cta-btn:hover {
  background-color: transparent;
}

.cta-btn:hover .text {
  color: #007ACC;
}

.cta-btn:hover svg path {
  fill: #007ACC;
}
>>>>>>> a9388e3b33a81a003e1e441d15d053046a4d7818
