@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --c-text-primary: #282a32;
  --c-text-secondary: #686b87;
  --c-text-action: #404089;
  --c-accent-primary: #FF5607;
  --c-border-primary: #eff1f6;
  --c-background-primary: #ffffff;
  --c-background-secondary: #fdfcff;
  --c-background-tertiary: #ecf3fe;
  --c-background-quaternary: #e9ecf4;
}
html{
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: var(--c-background-secondary);
  color: var(--c-text-primary);
}

img {
  display: block;
  max-width: 100%;
}

:focus {
  outline: 0;
}

.responsive-wrapper {
  
  /* max-width: 1280px; */
  padding: 0 2%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid var(--c-border-primary);
  background-color: var(--c-background-primary);
}

.header-content {
  display: flex;
  align-items: center;
}
.header-content > a {
  display: none;
}
@media (max-width: 1200px) {
  .header-content {
    justify-content: space-between;
  }
  .header-content > a {
    display: inline-flex;
  }
}

.header-logo {
  margin-right: 2.5rem;
}
.header-logo a {
  display: flex;
  align-items: center;
}
.header-logo a div {
  flex-shrink: 0;
  position: relative;
}
.header-logo a div:after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 50%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .header-navigation {
    display: none;
  }
}

.header-navigation-links {
  display: flex;
  align-items: center;
}
.header-navigation-links a {
  text-decoration: none;
  color: var(--c-text-action);
  font-weight: 500;
  transition: 0.15s ease;
}
.header-navigation-links a + * {
  margin-left: 1.5rem;
}
.header-navigation-links a:hover, .header-navigation-links a:focus {
  color: var(--c-accent-primary);
}

.header-navigation-actions {
  display: flex;
  align-items: center;
}
.header-navigation-actions > .avatar {
  margin-left: 0.75rem;
}
.header-navigation-actions > .icon-button + .icon-button {
  margin-left: 0.25rem;
}
.header-navigation-actions > .button + .icon-button {
  margin-left: 1rem;
}

.button {
  font: inherit;
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  height: 40px;
  border-radius: 8px;
  line-height: 1;
  border: 2px solid var(--c-border-primary);
  color: var(--c-text-action);
  font-size: 0.875rem;
  transition: 0.15s ease;
  background-color: var(--c-background-primary);
}
.button i {
  margin-right: 0.5rem;
  font-size: 1.25em;
}
.button span {
  font-weight: 500;
}
.button:hover, .button:focus {
  border-color: var(--c-accent-primary);
  color: var(--c-accent-primary);
}

.icon-button {
  font: inherit;
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  color: var(--c-text-action);
  transition: 0.15s ease;
}
.icon-button i {
  font-size: 1.25em;
}
.icon-button:focus, .icon-button:hover {
  background-color: var(--c-background-tertiary);
  color: var(--c-accent-primary);
}

.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}

.main {
  padding-top: 3rem;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.main-header h1 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.25;
}
@media (max-width: 550px) {
  .main-header h1 {
    margin-bottom: 1rem;
  }
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 340px;
}
.search input {
  font: inherit;
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em 0 36px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid var(--c-border-primary);
  color: var(--c-text-action);
  font-size: 0.875rem;
  transition: 0.15s ease;
  width: 100%;
  line-height: 1;
}
.search input::-moz-placeholder {
  color: var(--c-text-action);
}
.search input:-ms-input-placeholder {
  color: var(--c-text-action);
}
.search input::placeholder {
  color: var(--c-text-action);
}
.search input:focus, .search input:hover {
  border-color: var(--c-accent-primary);
}
.search button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: transparent;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25em;
  color: var(--c-text-action);
  padding: 0;
  height: 40px;
}

.horizontal-tabs {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  overflow-x: auto;
}
@media (max-width: 1000px) {
  .horizontal-tabs {
    scrollbar-width: none;
    position: relative;
  }
  .horizontal-tabs::-webkit-scrollbar {
    display: none;
  }
}
.horizontal-tabs li a {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  height: 48px;
  padding: 0 0.25rem;
  font-weight: 500;
  color: inherit;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  transition: 0.15s ease;
}
.horizontal-tabs li:hover a, .horizontal-tabs li:focus a, .horizontal-tabs li.active a {
  color: var(--c-accent-primary);
  border-bottom-color: var(--c-accent-primary);
}
.horizontal-tabs li + * {
  margin-left: 1rem;
}

li
{
  list-style: none;
}

.content-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  margin-top: -1px;
  border-top: 1px solid var(--c-border-primary);
}

.content-header-intro h2 {
  font-size: 1.25rem;
  font-weight: 600;
}
.content-header-intro p {
  color: var(--c-text-secondary);
  margin-top: 0.25rem;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  .content-header-actions a:first-child {
    display: none;
  }
}

.content {
  border-top: 1px solid var(--c-border-primary);
  margin-top: 2rem;
 display: flex;
}



.content-panel {
 
  width: 35%;
  padding: 0 1rem 2rem 0;
  
}

@media (min-width: 800px) {
  .content-panel {
    display: block;
  }
}

.vertical-tabs {
  display: flex;
  flex-direction: column;
}
.vertical-tabs a {
  display: flex;
  align-items: center;
  padding: 0.75em 1em;
  background-color: transparent;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  color: var(--c-text-action);
  transition: 0.15s ease;
}
.vertical-tabs a:hover, .vertical-tabs a:focus, .vertical-tabs a.active {
  background-color: var(--c-background-tertiary);
  color: var(--c-accent-primary);
}
.vertical-tabs a + * {
  margin-top: 0.25rem;
}

.content-main {
  padding-top: 2rem;
  
  width: 100%;

}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  row-gap: 1.5rem;
}
@media (min-width: 600px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  background-color: var(--c-background-primary);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card a {
  margin-top: auto;
}

.card-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5rem 1.25rem 1rem 1.25rem;
}
.card-header div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.card-header div span {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.card-header div span img {
  max-height: 100%;
}
.card-header div h3 {
  margin-left: 0.75rem;
  font-weight: 500;
}

.toggle span {
  display: block;
  width: 40px;
  height: 24px;
  border-radius: 99em;
  background-color: var(--c-background-quaternary);
  box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
  position: relative;
  transition: 0.15s ease;
}
.toggle span:before {
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  top: 3px;
  height: 18px;
  width: 18px;
  background-color: var(--c-background-primary);
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  transition: 0.15s ease;
}
.toggle input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.toggle input:checked + span {
  background-color: var(--c-accent-primary);
}
.toggle input:checked + span:before {
  transform: translateX(calc(100% - 2px));
}
.toggle input:focus + span {
  box-shadow: 0 0 0 4px var(--c-background-tertiary);
}

.card-body {
  padding: 1rem 1.25rem;
  font-size: 0.875rem;
  text-align: center;
}

.card-footer {
  margin-top: auto;
  padding: 1rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid var(--c-border-primary);
}
.card-footer a {
  color: var(--c-text-action);
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
}

html::-webkit-scrollbar {
  width: 12px;
}
html::-webkit-scrollbar-thumb {
  background-color: var(--c-text-primary);
  border: 4px solid var(--c-background-primary);
  border-radius: 99em;
}






@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

h1 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 100;
  font-size: 55px;
  margin-bottom: 0;
}
.card {
  background: #fff;
  position: relative;
  border-radius: 10px;
  box-shadow: 1px 1px 40px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}
.card svg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 10px transparent;
  background-image: linear-gradient(#fff, #fff), linear-gradient(90deg, rgba(255,96,96,0.149) 40%, rgba(136,96,255,0.149) 100%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-size: 100% 100%, 100% 100%;
  background-position: center center, center bottom;
  background-repeat: no-repeat;
  transition: 1s;
}
.card svg:hover {
  background-size: 100% 100%, 200% 200%;
}
.card svg path {
  fill: #505050;
}
.card h2 {
  margin: 0;
  padding: 1rem;
}
.card .title {
  padding: 0.7rem 1rem;
  font-size: 14px;
  font-weight: 600;
  color: #9a9a9a;
}
.card .desc {
  padding: 1rem 1rem;
  order: 2;
  text-align: center;
}
.card .actions {
  display: flex;
}
.card .actions button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  font-size: 16px;
  padding: 0.7rem 1rem;
  color: #707070;
  font-weight: 800;
}
.card .actions button i {
  font-size: 20px;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 50%;
  transition: 0.3s;
}
.card .actions button i.fa-heart {
  color: #ff6060;
  background: rgba(255,96,96,0.149);
}
.card .actions button i.fa-star {
  color: #8860ff;
  background: rgba(136,96,255,0.149);
}

.heart:hover i.fas.fa-heart {
  background: rgba(255,96,96,0.502);
}
.heart:hover:after {
  content: '\f004';
  color: rgba(255,96,96,0.588);
}
.star:hover i.fas.fa-star {
  background: rgba(136,96,255,0.502);
}
.star:hover:after {
  content: '\f005';
  color: rgba(136,96,255,0.588);
}
.fa-instagram {
  color: #8860ff;
  position: absolute;
  top: 3%;
  right: 2%;
  font-size: 38px;
}
.fa-instagram:hover {
  font-size: 42px;
  color: #ff6060;
  transition: all 0.1s linear;
  cursor: pointer;
}
@-webkit-keyframes anim {
  5%, 80% {
    opacity: 1;
    font-size: 180px;
  }
  40%, 80% {
    font-size: 160px;
  }
  80%, 100% {
    opacity: 0;
  }
}
@keyframes anim {
  5%, 80% {
    opacity: 1;
    font-size: 180px;
  }
  40%, 80% {
    font-size: 160px;
  }
  80%, 100% {
    opacity: 0;
  }
}


.reader-name
{
  text-align: center;
}















/** Blog Cards */

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap");






.blog-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 15px;
  overflow: hidden;
width: 100%;
  position: relative;
  transition: 0.15s ease-in;

  

}
.blog-card:hover, .blog-card:focus-within {
  box-shadow: 0 0 0 2px var(--c-accent-primary), rgba(0, 0, 0, 0.16) 0px 1px 4px;;
  transform: translatey(-5px);
}
.blog-card-image{
width: 40%;
}
.blog-card-image img{
  height: 100%;

 /* height: 250px;
  overflow: hidden;
  position: relative; */
}

.blog-card-header {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-card-header a {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.25;
  padding-right: 1rem;
  text-decoration: none;
  color: inherit;
  will-change: transform;
}
.blog-card-header a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.blog-icon-button {
  border: 0;
  background-color: #fff;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 1.25rem;
  transition: 0.25s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  z-index: 1;
  cursor: pointer;
  color: #565656;
}
.blog-icon-button svg {
  width: 1em;
  height: 1em;
}
.blog-icon-button:hover, .blog-icon-button:focus {
  background-color: #EC4646;
  color: #FFF;
}

.blog-card-footer {
  margin-top: 1.25rem;
  border-top: 1px solid #ddd;
  padding-top: 1.25rem;
  display: flex;
  align-items: start;
flex-direction: column;
  flex-wrap: wrap;
}

.blog-card-meta {
  display: flex;
  align-items: center;
  color: #787878;
}
.blog-card-meta:first-child:after {
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: currentcolor;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.blog-card-meta svg {
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
}

.blog-card div 
{
  padding: 0.2rem 0.5rem;
}

.blog-card-list
{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.blog-card-list-prof
{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sign-icon
{
  display: flex;
  justify-content: center;
  width: 100%;
}
.sign-icon > img 
{
  width: 30px;
  
}


.reader-menu-specific
{
  color: black;
 position: sticky;
 top: 1px;
 z-index: 10;

}
.reader-menu-specific ul
{
  list-style: none;
  display: flex;
 justify-content: end;
 gap: 10px;
  align-items: center;
  padding-right: 1rem;
  
}




/** Profile Card*/


.user-profile-area {
    width: 360px;
    border: 1px solid #e7e7ef;
    border-top: 0px solid white;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
 
    overflow: auto;
}

.task-manager {
    font-size: 15px;
    color: black;
    font-weight: 700;
    text-align: center;
    height: 70px;
    letter-spacing: 0.7px;
    line-height: 70px;
    position: sticky;
    top: 0;
    z-index: 3;
    text-transform: uppercase;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    border-bottom: 1px solid #e7e7ef;
}

.user-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    outline: 4px solid  #FF5607 ;
    outline-offset: 4px;
  
}

.card-style 
{
    border: 1px solid #e7e7ef;
    border-radius: 6px;
    background-color: white;
  padding: 1rem;

}
.editing-controls 
{
  width: 80%;
}
.meta-data{
  width: 20%;
}


.user-name {
    font-weight: 600;
    margin: 15px 0 8px;
    text-transform: uppercase;
}

.user-mail {
    color: #9a9a9a;
    font-size: 12px;
    font-weight: 300;
    text-transform: capitalize;
}

.user-profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.side-wrapper {
    padding: 25px 40px;
    border-bottom: 1px solid #e7e7ef;
}

.side-wrapper:last-child {
    border-bottom: none;
}

.user-notification {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.user-notification svg {
    width: 15px;
    padding: 10px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: visible;
    background-color: #FF5607;
    color: #fff;
}

.notify {
    position: relative;
}

.notify:not(:last-child) {
    margin-right: 25px;
}

.notify.alert:before {
    content: "2";
    font-size: 9px;
    font-weight: 700;
    position: absolute;
    background-color: #ff537b;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    color: #fff;
}

.notify.alert:last-child:before {
    content: "5";
}

.progress {
    margin-top: 5px;
    border-radius: 4px;
    background-color: #e7e7ef;
    height: 8px;
    overflow: hidden;
}

.progress-bar {
    background-color: #a2b6f5;
    border-radius: 4px;
    width: 35%;
    height: 100%;
    animation: progressAnimation 6s;
    transition: 0.3s linear both;
    transition-property: width, background-color;
}

@keyframes progressAnimation {
    0% {
        width: 5%;
        background-color: #a2b6f5;
    }
    100% {
        width: 35%;
    }
}

.progress-status {
    margin-top: 30px;
    text-align: right;
    color: #2e4053;
    font-size: 10px;
    font-weight: 600;
}

.task {
    &-status {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-stat {
        text-align: center;
    }
    &-number {
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    &-condition {
        font-size: 12px;
        color: #2e4053;
        font-weight: 700;
    }
    &-tasks {
        margin-top: 4px;
        font-size: 10px;
        font-weight: 600;
        color: #a2b6f5;
    }
}

.project {
    &-title {
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 18px;
    }
    &-department {
        position: relative;
        vertical-align: middle;
        padding: 0 30px;
        color: #2e4053;
        font-size: 13px;
        font-weight: 600;
        margin-top: 14px;
        &:before {
            position: absolute;
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            top: 10;
            left: 0;
        }
        &:nth-child(1):before {
            border: 3px solid #b36dfb;
        }
        &:nth-child(2):before {
            border: 3px solid #625be8;
        }
        &:nth-child(3):before {
            border: 3px solid #fec267;
        }
        &:nth-child(4):before {
            border: 3px solid #fc6679;
        }
    }
}

.members {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.team-member {
    display: flex;
    justify-content: space-between;
}

.task-status {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 
 /** Profile Card ends*/

 .followings-list
 {

  height: 100%;
  display: flex;
  flex-wrap: wrap;
 
  padding-top: 10px;
 }

.following-card
{
  border: 1px solid #e7e7ef;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;

}


.profile-setting-card{
  
  /* display: none; */
  position: fixed;
  top: 50%;
  left: 50%;
  height: 80%;
  width: 80%;
  transform: translate(-50%, -50%);
  border: 1px solid #e7e7ef;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  z-index: 10;
  background-color: white;
  animation: animateCard 0.5s ease-in-out forwards;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@keyframes animateCard {
  0% {
   
    opacity: 0;
  
  }
  100% {
   
    opacity: 1;
  }
}


.blog-long-card
{
  display: flex;
  width: 100%;
  
 
  & p{
    font-size : 0.8rem;
    color: grey;
  }

}

.blog-long-img
{

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20%;
  
}



.blog-long-text{
  
  width: 100%;
  border: 1px solid #e7e7ef;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1rem;

}

.flex-between
{
  justify-content: space-between;
  align-items: center;
}


.meta-data
{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  gap: 10px;

}

.blog-title
{
  
    background-color: transparent;
    border: none;
 
}


.blog-post-title
{
  animation: fadeUp 1s ease-in-out forwards;
  transform: translateY(20px);
}

@keyframes fadeUp {
  
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/** hero sliding logos */
:root {
  --items-per-page: 8;
}

.carousel {
 
  
  overflow: hidden;
  position: relative;
  

}

.carousel-container {
  white-space: nowrap;
}

.carousel-item {
  display: inline-block;
  min-width: calc(100% / var(--items-per-page)); /* Display 3 items at a time */
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  
}

.carousel-item svg 
{
  width: 30px;
  fill: #464646;
}

.carousel .mask
{
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.469) 25%, rgba(255, 255, 255, 0) 60%, rgb(255, 255, 255) 100%);
  z-index: 13;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}


/**feature container */

.features-container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  background: linear-gradient(to bottom, rgba(0,127,255,0) 0%, rgba(238, 196, 26, 0.259) 75%, rgba(233, 182, 106, 0) 100%);
}

/* Header Styles */
.header {
  margin-bottom: 40px;
}

.subheading {
  text-transform: uppercase;
  color: #888;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.description {
  color: #666;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* Grid Styles */
.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.image-card img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.dark-card {
  background-color: #1d1d2b;
  color: white;
}

.dark-blue-card {
  background-color: #5a6b7f;
  color: white;
}

/* Links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

/** Feature container*/



/** Global Loader*/

.ldr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  gap: 0.3em;
}
.ldr p
{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ldr::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2em;
  filter: blur(45px);
  
  
}

.loader__circle {
  --size__loader: 0.6em;
  width: var(--size__loader);
  height: var(--size__loader);
  border-radius: 50%;
  animation: loader__circle__jumping 2s infinite;
  background-color: #b499ff;
}

.loader__circle:nth-child(2n) {
  animation-delay: 300ms;
  background-color: #e499ff;
}

.loader__circle:nth-child(3n) {
  animation-delay: 600ms;
}

@keyframes loader__circle__jumping {
  0%, 100% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-15px) scale(0.5);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(5px) scale(0.9);
  }
}
/** Global Loader*/




/** Why Us */
.why-us-title
{
  width: 60%;
}
.why-us-container
{
  height: 90dvh;
  align-items: center;
}

.why-us-contents img 
{
  
  
  border-radius: 10px;
  object-fit: cover;
 
}

.why-us-contents
{
  
  display: flex;
}



/** Bento Style */
.container-bento {  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 1em 1em;
  grid-auto-flow: row;
  padding: 1rem;
  grid-template-areas:
    "a a a d d e e"
    "a a a d d e e"
    "f f g g g h i"
    "f f g g g h i"
    "f f g g g h i"
    "j k g g g h i"
    "j k g g g n n"
    "l l m m m n n";
}

.a { grid-area: a;


}



.c { grid-area: c; }

.d { grid-area: d; }

.e { grid-area: e; }

.f { grid-area: f;

background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='600' height='400' preserveAspectRatio='none' viewBox='0 0 600 300'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2239%26quot%3b)' fill='none'%3e%3crect width='600' height='300' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient2240%26quot%3b)'%3e%3c/rect%3e%3cpath d='M4 300L304 0L349 0L49 300z' fill='url(%26quot%3b%23SvgjsLinearGradient2241%26quot%3b)'%3e%3c/path%3e%3cpath d='M228 300L528 0L730.5 0L430.5 300z' fill='url(%26quot%3b%23SvgjsLinearGradient2241%26quot%3b)'%3e%3c/path%3e%3cpath d='M589 300L289 0L196 0L496 300z' fill='url(%26quot%3b%23SvgjsLinearGradient2242%26quot%3b)'%3e%3c/path%3e%3cpath d='M371 300L71 0L3.5 0L303.5 300z' fill='url(%26quot%3b%23SvgjsLinearGradient2242%26quot%3b)'%3e%3c/path%3e%3cpath d='M431.17399018579385 300L600 131.17399018579388L600 300z' fill='url(%26quot%3b%23SvgjsLinearGradient2241%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 300L168.82600981420612 300L 0 131.17399018579388z' fill='url(%26quot%3b%23SvgjsLinearGradient2242%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2239'%3e%3crect width='600' height='300' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2240'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(20%2c 34%2c 53%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient2241'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient2242'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.g { grid-area: g; }

.h { grid-area: h;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='500' height='560' preserveAspectRatio='none' viewBox='0 0 500 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1013%26quot%3b)' fill='none'%3e%3cpath d='M104 492.3 a7.58 7.58 0 1 0 15.16 0 a7.58 7.58 0 1 0 -15.16 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M188.51 313.66L203.23 313.66L203.23 350.18L188.51 350.18z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M449.87 21.86L469.59 21.86L469.59 41.58L449.87 41.58z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M361.57 375.58 a31.57 31.57 0 1 0 63.14 0 a31.57 31.57 0 1 0 -63.14 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M234.49 293.98L244.33 293.98L244.33 297.97L234.49 297.97z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M159.72 300.97 a3.95 3.95 0 1 0 7.9 0 a3.95 3.95 0 1 0 -7.9 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M66.79-15.77a33.73 33.73 0 1 0 59.06 32.59z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M58.28 105.44L69.78 105.44L69.78 116.94L58.28 116.94z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M287.08 442.87L312.42 442.87L312.42 474.2L287.08 474.2z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M227.7 71.3 a28.9 28.9 0 1 0 57.8 0 a28.9 28.9 0 1 0 -57.8 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M337.09 181.66 a44.08 44.08 0 1 0 88.16 0 a44.08 44.08 0 1 0 -88.16 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M85.79 140.78 a27.83 27.83 0 1 0 55.66 0 a27.83 27.83 0 1 0 -55.66 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M6.64 270.25 a36.77 36.77 0 1 0 73.54 0 a36.77 36.77 0 1 0 -73.54 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M269.15 49.91 a20.27 20.27 0 1 0 40.54 0 a20.27 20.27 0 1 0 -40.54 0z' stroke='%23e73635'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1013'%3e%3crect width='500' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.i { grid-area: i; }

.j { grid-area: j; }

.k { grid-area: k; }

.l { grid-area: l; }

.m { grid-area: m; }

.n { grid-area: n; }


/* For presentation only, no need to copy the code below */




.container-bento > div[class] {
  border: 1px solid #ececec;
  position: relative;
  border-radius: 1rem;
  font-weight: bold;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.black {
  color: #000;
}


/* .container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
} */


/** Bento Style */



.cookie-card {
 
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
 margin-bottom: 5px;
}

.title {
  font-weight: 600;
  color: rgb(31 41 55);
}

.description {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(75 85 99);
}

.description a {
  --tw-text-opacity: 1;
  color: rgb(59 130 246);
}

.description a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  flex-shrink: 0;
}

.align-center
{
  align-items: center;  
}