@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*
{
    margin: 0;
    padding: 0;

}
.great-vibes-regular {
  font-family: "Poppins", sans-serif;
  font-size: clamp(2.25rem, 5vw, 3rem);
  font-weight: 400;
  font-style: normal;
  }

#root 
{
    /* height: 100%; */
    display: flex;
    flex-direction: column;

    --dot-bg: white;
    --dot-color: grey;
    --dot-size: 1px;
    --dot-space: 22px;
    
}

::-webkit-scrollbar
{
    display: none;
}

.padding-sides
{
    padding-left: 8%;
    padding-right: 8%;
}

body, html 
{
    width: 100%;
    height: 100%;
}


.container 
{
    height: 100%;
    display: flex;
    flex-direction: column;

}

.footer-wrapper
{
    margin-top: auto;
}


/** Navigation Styles 
*/



.hero-image
{
   
    width: 100dvw;
    /* background: purple; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transform: translateY(10vh);
    animation: slideUp 1s linear forwards;
  display: none;
    
}
.hero-image-mobile
{
	display: none;
}


 @media (max-width: 750px) {

	.hero-image-mobile
	{
		display: block;
	}

}
 @media (min-width: 751px) {

	.hero-image
	{
		display: flex;
	}

}



.square-bg
{
  background:
  linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
  linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
  #ffffff;
background-size:
  30px 30px,
  30px 30px;
background-color:white;
}






@keyframes slideUp {
    0% {
       
        transform: translateY(10vh);
    }
    100% {
       
        transform: translateY(0);
    }
}



.hero-mask
{

background: linear-gradient(0deg, rgb(255, 255, 255) 0%,  rgba(255, 255, 255, 0.469) 15%, rgba(255, 255, 255, 0) 70%, rgb(255, 255, 255) 100%);
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  

}

.hero-text 
{
  margin-top: auto;
}


.hero-text  h1,
.hero-text p
{
    padding-bottom: 1rem;
}
.hero-text button 
{
    padding: 10px 10px;
    background: white;
    border: 1px solid lightgrey;
    border-radius: 5px;

    &:hover
    {
        cursor: pointer;
        background-color: #FF5607;
        border: 1px solid #FF5607;
        transition: 300ms;
        color: white;
    }
}

.universal-button
{
    padding: 10px 10px;
    background: white;
    border: 1px solid lightgrey;
    border-radius: 5px;

   
}
.universal-button:hover
{
    cursor: pointer;
    background-color: #FF5607;
    border: 1px solid #FF5607;
    transition: 300ms;
    color: white;
}



.hero-section 
{
    /* height: 100dvh;
    width: 100dvw;
    padding-top: 10%;
    padding-left: 10%; */

}

.hero-illustration
{
 
    position: relative;
    z-index: 0;
    width: 40dvw;
}
.hero-illustration img 
{
    width: 100%;
    height: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    z-index: 1;
}



.Patron_Form_Wrap
{
  
  height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Patron_Form 
{
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    
    width: 300px; 
    border-top: 2px solid #FF5607;
}
.flex
{
    display: flex;
    gap: 5px;
}

.input-style
{
    padding: 0.5rem;
    border: 0.5px solid lightgrey;
    border-radius: 3px;
    /* width: 100%; */
}

.Patron_Form button 
{
    margin-top: auto;
}

.nav-wrap > ul > li:nth-child(5)
{
    margin-left: auto;
    margin-right: auto;
}
.nav-wrap > ul li img 
{
    width: 20px;
    height: 20px;
}

.Patron_Form > .flex input
{
    width: 100%;
}


a 
{
  text-decoration: none;
  font-size: 12px;
}

.thankyou
{
    width: 100dvw;
    height: 100dvh;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.thankyou > div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: "great-vibes";
}

.thanks-image
{
   /* aspect-ratio: 16/9; */
   width: 50%;
   /* height: 50%; */

   /* border-radius: 10px; */
  
}

.thanks-image > div > div , .hero-illustration > div
{
    height: 100% !important;
    width: 100% !important;
}

.text-center
{
    text-align: center;
}

p.desc-thanks{
    animation: fadeUp 1s ease-in-out 3s forwards;
    transform: translateY(20px);
    opacity: 0;
    font-family: 'Poppins', sans-serif;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.text-controls
{
    padding-top: 1%;
    padding-bottom: 1%;

    background-color: #F5F5F7 !important;
    font-family: "Quicksand", sans-serif !important;
    height: 100%;
}

.rdw-editor-main{
    padding: 1rem;
    border-radius: 5px;
    /* background: red; */
    background: white;
}



/**
Feature
*/


:root {
  --base-grid: 8px;
  --colour-body-background: red;
  --colour-background: #f0f0f0;
  --colour-background-folded: #f5f5f5;
  --colour-background-stripes: rgba(255,255,255,.5);
  --colour-text: #1a1a1a;
}

.articles {
/* height: 100dvh;
width: 100dvw; */
display: flex;
align-items: center;
  justify-content: center;
  gap: 50px;
}

.articles__article {
  cursor: pointer;
  display: block;
  position: relative;
  animation-name: animateIn;
  animation-duration: .35s;
  animation-delay: calc(var(--animation-order)*100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.articles__article:before {
  content: "";
  position: absolute;
  top: calc(var(--base-grid)*-2);
  left: calc(var(--base-grid)*-2);
  border: 2px dashed var(--colour-background);
  background-image: repeating-linear-gradient(-24deg,transparent,transparent 4px,var(--colour-background-stripes) 0, var(--colour-background-stripes) 5px);
  z-index: -1;
}

.articles__article,
.articles__article:before {
  width: calc(var(--base-grid)*35);
  height: calc(var(--base-grid)*35);
}

.articles__link {
  background-color: var(--colour-body-background);
  border: 2px solid var(--colour-background);
  display: block;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.articles__link:after {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(var(--base-grid)*3);
  width: calc(var(--base-grid)*2);
  height: calc(var(--base-grid)*2);
  margin-top: calc(var(--base-grid)*-1);
  clip-path: polygon(75% 0,100% 50%,75% 100%,0 100%,25% 50%,0 0);
  -webkit-clip-path: polygon(75% 0,100% 50%,75% 100%,0 100%,25% 50%,0 0);
  background-color: var(--colour-background);
  opacity: 0;
  transition: opacity .5s ease-in,transform .3s ease-in-out 0ms;
}

.articles__content {
  background-color: var(--colour-background);
  color: var(--colour-text);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: calc(var(--base-grid)*2);
  display: flex;
  flex-direction: column;
  border: 2px solid var(--colour-background);
}

.articles__content--lhs {
  clip-path: polygon(0 0,51% 0,51% 100%,0 100%);
  -webkit-clip-path: polygon(0 0,51% 0,51% 100%,0 100%);
}

.articles__content--rhs {
  clip-path: polygon(50% 0,100% 0,100% 100%,50% 100%);
  -webkit-clip-path: polygon(50% 0,100% 0,100% 100%,50% 100%);
  transition: transform .5s ease-in-out,background-color .4s ease-in-out;
}

.articles__title {
  font-size: calc(var(--base-grid)*4);
  line-height: 1.125;
  font-weight: 700;
  letter-spacing: -.02em;
}

.articles__footer {
  margin-top: auto;
  font-size: calc(var(--base-grid)*2);
  line-height: calc(var(--base-grid)*2);
  display: flex;
  justify-content: space-between;
}

.articles__link:hover .articles__content--rhs {
  background-color: var(--colour-background-folded);
  transform: rotateY(-50deg);
}

.articles__link:hover:after {
  opacity: 1;
  transform: translateX(calc(var(--base-grid)*1.5));
  transition: opacity .5s ease-in,transform .3s ease-in-out .25s;
}

.feature-cont 
{
  
    height: 100dvh;
    display: flex;
    align-items: center;
  flex-direction: column;
    justify-content: center;
  z-index: 9;
 
}
/* .feature-cont img
{
  margin-top: -40%;
} */
.inner-contents
{
  height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.global-div-wrap
{
 
  height: 100dvh;

}
.signin-wrapper
{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-form
{
  padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    padding: 1rem;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
}
.signin-form button 
{
  margin-top: auto;
}

.loader
{
    display: flex;
    justify-content: center;
    align-items: center;    
   
}

.loader-inner 
{
   

    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 2px dashed white;
    animation: loader 2s ease-in-out infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**
Moving border button
 */


.border-button {
   
    display: grid;
    place-content: center;
    color: black;

    --border-angle: 0turn;
    --main-bg: conic-gradient(
        from var(--border-angle),
        rgb(255, 255, 255),
     
        rgb(255, 255, 255) 100%
      );
    border: solid 1px transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 0%, rgb(255, 200, 0), rgb(238, 150, 49) 100%, transparent);
    background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
    background-position: center center;
    -webkit-animation: bg-spin 2s linear infinite;
            animation: bg-spin 2s linear infinite;
  }
  @-webkit-keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  
  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }
  .border-button:hover 
  {
    color: black;
  }
  /**
Moving border button
 */



 .right-text-feature
 {
  text-align: left;
 }

 .left-text-feature
 {
  text-align: right;
 }




 /** 
 Error Page 404
 */

 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
.error-container {
  text-align: center;
  font-size: 180px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin: 20px 15px;
}
.error-container > span {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: #FFB485;
}
.error-container > span > span {
  display: inline-block;
  position: relative;
}
.error-container > span:nth-of-type(1) {
  perspective: 1000px;
  perspective-origin: 500% 50%;
  color: #F0E395;
}
.error-container > span:nth-of-type(1) > span {
  transform-origin: 50% 100% 0px;
  transform: rotateX(0);
  animation: easyoutelastic 8s infinite;
}

.error-container > span:nth-of-type(3) {
  perspective: none;
  perspective-origin: 50% 50%;
  color: #D15C95;
}
.error-container > span:nth-of-type(3) > span {
  transform-origin: 100% 100% 0px;
  transform: rotate(0deg);
  animation: rotatedrop 8s infinite;
}
@keyframes easyoutelastic {
  0% {
    transform: rotateX(0);
  }
  9% {
    transform: rotateX(210deg);
  }
  13% {
    transform: rotateX(150deg);
  }
  16% {
    transform: rotateX(200deg);
  }
  18% {
    transform: rotateX(170deg);
  }
  20% {
    transform: rotateX(180deg);
  }
  60% {
    transform: rotateX(180deg);
  }
  80% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(0);
  }
}

@keyframes rotatedrop {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(30deg);
  }
  15% {
    transform: rotate(90deg);
  }
  70% {
    transform: rotate(90deg);
  }
  80% {
    transform: rotate(0);
  }
  100% {
    transform: rotateX(0);
  }
}
    
.no-blogs-image
{
  width: 300px;
  height: 300px;
  background-image: url('./assets/images/aboard.jpg');
}



/* demo stuff */

.row 
{
display: flex;
justify-content: center;
align-items: center;
height: 100%;
padding: 0 10%;
}
.illustration-wrap 
{
  width : 50%;
}
.text-404:nth-child(last)
{
  margin-top: 15px;
}
/** Error page 404*/


.blog-cad
{
 
  color: black;
  margin-top: 10px;
  border: lightgrey 1px solid;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex: 2;
  flex-direction: column;
}
.blog-cad button
{
  margin-top: auto;
}

.blog-cad-title 
{
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  font-weight: 200;
  margin-bottom: 0.5rem;
}
.blog-cad-author 
{
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: rgb(70, 69, 69);
  font-family: 'Nunito', sans-serif;
}




/** Explore blogs*/
.explore-blogs
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px;
}
.explore-blogs div {
 
  width: calc(80% / 3);
background: white;
  border-radius: 10px;

}
/* Parent div with flexbox */

/** Explore Blogs*/


.rdw-editor-wrapper
{
  height: 100%;
}

.rdw-editor-main
{
  height: 50dvh;
  overflow: auto;
  padding-bottom: 5px;
}



